*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Obviously;
    }
    @font-face{
        font-family:Obviously;
        src:url(../IMAGES/fonnts.com-Obviously.otf);
    }   
    body{

         display: flex;
         justify-content: flex-end;
         overflow-x: hidden;
         }
        ::-webkit-scrollbar {
            display: none; /* Chrome, Safari y Opera */
        }
     body:before{
            z-index:  var(--before-z-index, 0);
            content: '';
            opacity: var(--before-z-index, 0);
            position: absolute;
            background: rgba(43, 43, 43, 0.6);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            }

        .nav_top{
            display:flex;
            justify-content: center;
            background-color: #FFFFFF;
            width: 100%;
            height: 94px;
            z-index: 2;
            position: fixed;
        }   
            .union_header{
                 height: 180%;
                 position: absolute;
            }
            .nav_top_links{
                margin-top: 30px;
                margin-left: 36px;
                margin-right:36px;
                width: 100%;
                display: flex; 
                position: relative;
                justify-content: space-between;
                height: 43.8%;
            }
                .nav_top_1{
                    display: flex;
                }
                .nav_top_1 a{
                    color: #004789;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                }
                .nav_top_2{
                    display:inline-flex;
                    align-items: center;
                    display: flex;
                    gap: 24px ;

                }
                    .nav_top_2 a{
                        text-decoration: none;
                        color: #004789;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                    }

                        .buscador{
                            cursor: pointer;
                            width: 135px;
                            padding: 10px 0px 10px 40px;
                            border-radius: 9999px;
                            border: solid rgba(0, 0, 0, 0);
                            transition: all .2s ease-in-out;
                            outline: none;
                            opacity: 1;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 900;
                            line-height: normal;
                            color: #004789;
                            background-color: rgba(0, 0, 0, 0); 
                          }
                          .buscador::placeholder {
                            color: #004789; /* Cambia este color por el que desees */
                            opacity: 1; /* Para asegurar que el color no se vea transparente */
                          }
                           .container-buscador {
                            position: relative;
                          }
                          .container-buscador svg {
                            position: absolute;
                            top: 50%;
                            left: 10px;
                            transform: translate(0, -50%);
                          }

                          .buscador:focus {
                            border: solid 3px #f15d2a;
                            opacity: 1;
                            width: 450px;
                            color: #1C1C1C;
                          }


                        .btn_carrito {
                            display: inline-flex; 
                            align-items: center; 
                            justify-content: center;
                            padding: 10px 18px;
                            border: solid #f15d2a;
                            border-radius: 10px;
                            color: #f15d2a; 
                            z-index: 1;
                            gap: 8px;
                            background: #FFFFFF;
                            position: relative;
                            transition: all 200ms;
                            overflow: hidden;
                           }

                           .btn_carrito::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 0;
                            border-radius: 0 ;
                            background-color: #f15d2a;
                            z-index: -1;
                            transition: all 250ms;
                           }

                           .btn_carrito:hover {
                            color: #FFFFFF;
                           }

                           .svg_carrito{
                               width:24px; 
                               height:24px;
                               fill:#f15d2a;

                           }
                           .btn_carrito:hover .svg_carrito{
                                 fill:#FFFFFF;
                           }

                          .btn_carrito:hover::before {
                            width: 100%;
                           }
     .lista_carrito {
        width: 500px;
        height: 100%;
        background-color: #FFFFFF;
        position: fixed;
        z-index: 3;
        transition: all .3s ease;
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows:  96px auto 160px;
         grid-template-areas:"lista_carrito_titulo"
                             "lista_carrito_compras"
                             "lista_carrito_btn";
    }
        .lista_carrito.active{
            right: -30px;
            width: 0px;

        }
            .lista_carrito_titulo{
               grid-area: lista_carrito_titulo;
               padding-left: 40px;
               padding-top: 50px;
               padding-right: 40px;
               display: flex; 
               justify-content: space-between;
               box-shadow: 0px 5px 5px #efefef;
            }

            .lista_carrito_titulo_a{
                color:  #004789;
                font-size: 18px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                text-decoration: none;
                display: flex;
                gap: 8px;
                align-items: center;
                height: fit-content;

            }
            .lista_carrito_btn{
                box-shadow: 0px -5px 5px #efefef;
                grid-area: lista_carrito_btn;
                display: grid;
                padding:  20px;
                gap:20px;
                grid-template-columns:1fr ;
                grid-template-rows:  1fr 1fr;
            }
                .btn_lista_carrito_1{
                    background-color: #f15d2a;
                    border-radius: 15px;
                    border: 3px solid #f15d2a;
                    color: #FFFFFF;
                }
                .btn_lista_carrito_2{
                    border-radius: 15px;
                    border: 3px solid #f15d2a;
                    color: #f15d2a;
                    background: #FFFFFF;
                }
            .lista_carrito_compras{
                overflow-y: scroll;
                grid-area: lista_carrito_compras;

            }
            .div_scroll{
                width:  100%;
                height:fit-content;
            }
            .carta_carrito{
                height: 180px;
                width: 100%;
                display: grid;
                gap: 16px;
                padding: 20px 16px;
                 box-shadow: 0px 2px 5px #efefef;/*#F09F82*/
                grid-template-columns:100px auto ;
                grid-template-areas: "img_carrito_cart txt_carta_carrito";
            }
                .img_carrito_cart{
                    grid-area: img_carrito_cart;
                    display:flex;
                    align-items: center;
                }
                    .img_carrito_cart img{
                        width: 100px;
                    }
                .txt_carta_carrito{
                    grid-area: txt_carta_carrito;
                }
                    .txt_carta_carrito_titulo{
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                        .txt_carta_carrito_titulo a{
                            overflow: hidden;
                            color:  #1C1C1C;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 900;
                            line-height: normal;
                        }
                    .txt_carta_carrito_precio{
                        display: flex;
                        justify-content: space-between;
                    }
                        .txt_carta_carrito_precio a{
                            color:  #1C1C1C;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    .contenedor_btn_precio{
                        width: 140px;
                        display: flex;
                        justify-content: center;
                    }

                    .num_productos{
                        display: flex;
                        border-radius: 8px;
                        border: 2px solid  #F15D2A;
                        padding: 6px 8px;
                        width: fit-content;
                        align-items: center;
                        gap: 7px;
                    }
                        .num_productos_input{
                            border: none;
                            width: 60px;
                            height: 25px;
                            text-align: center;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 900;
                        }
                        .num_productos_input:focus {
                                outline: none;
                        }
    .contendor{
        top: 94px;
        position: absolute;
        width: 100% ;
        height: calc(100% - 94px);
        display: flex;
        background-image:url("../IMAGES/fondo_fav.png");
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
        justify-content: center;
        align-items:  center;
    }   
        .contenedor_regresar{
            background: #e8e8e8;
            top: 40px;
            left: 12px;
            position: absolute;
            height: 32px;
            padding-right: 12px;
            color: #1C1C1C;
            border-radius: 4px;
        }
            .contenedor_regresar a{
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        .contenedor_posicionamiento{
            height: 100%;
            padding-top: 60px;
            padding-bottom: 50px;
        }
        .contedor_cartas{
            border-radius: 12px;
            padding: 30px 20px;
            height: fit-content;
            width: 1290px;
            height: 100%;
            background: rgba(28, 28, 28, 0.60);
             color:  #FFFFFF;
        }
            .contedor_cartas h1{
                margin-left: 120px;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 24px;
            }
        .div_scroll_grupo_cartas{
            height: calc(100% - 61px);
            display: flex;
            flex: 1;
        }
        .grupo_cartas{
            display: flex;
            gap: 12px;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items:  center;
            overflow-y: scroll;
        }
            .carta{
                width:1008px;
                height:168px;
                background: #FCFCFC;
                display: grid;
                border-radius: 12px;
                padding: 4px 20px;
                grid-template-columns: 164px 640px 164px;
                grid-template-areas: "carta_img carta_txt carta_btn";
            }
                .carta_img{
                    grid-area: carta_img;
                    height: 100%;
                    padding: 12px;
                    display: flex;
                    justify-content: center;
                }
                .carta_img img{
                    height: 140px;
                    object-fit: cover;
                    
                }
            
                .carta_txt{
                    grid-area: carta_txt;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px 16px;
                    justify-content: space-between;
                }
                    .carta_txt_1{
                         display: flex;
                         justify-content: start;
                         width: 100%;
                    }
                    .carta_txt_1.espaciado{
                        justify-content: space-between;
                    }
                        .carta_txt_1 h2{
                            color:  #1C1C1C;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                        .carta_txt_1_a{
                            text-decoration: none;
                            color:  #6F6D6D;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    .carta_txt_2{
                        display: flex;
                    }
                .carta_btn{
                    grid-area: carta_btn;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 24px 12px;
                    padding-bottom: 30px;
                }
                    .btn_estado{
                        background: #F15D2A;
                        color: #FFFFFF;
                        border-radius: 6px;
                        padding: 6px 12px;
                        border: none;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                    .btn_estado.devolucion{
                        background: #3462D9;
                    }
                    .btn_estado.entregado{
                        background: #52B424;
                    }
                    .carta_btn_a{
                        cursor: pointer;
                        padding-left: 10px;
                        color:  #F15D2A;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
         
.btn_eliminar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f15d2a;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon_eliminar {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon_eliminar path {
  fill: white;
}

.btn_eliminar:hover {
  width: 100px;
  border-radius: 50px;
  transition-duration: .3s;
  align-items: center;
}

.btn_eliminar:hover .svgIcon_eliminar {
  width: 40px;
  transition-duration: .3s;
  transform: translateY(50%);
}

.btn_eliminar::before {
  position: absolute;
  top: -31px;
  content: "Eliminar";
  color: white;
  transition-duration: .3s;
  font-size: .5px;
}

.btn_eliminar:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}