
             *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:Obviously;
            }
            @font-face{
                font-family:Obviously;
                src:url(../IMAGES/fonnts.com-Obviously.otf);
            }   
        body{

             display: flex;
             justify-content: flex-end;
             overflow-x: hidden;
             }
            ::-webkit-scrollbar {
                display: none; /* Chrome, Safari y Opera */
            }
         body:before{
                z-index:  var(--before-z-index, 0);
                content: '';
                opacity: var(--before-z-index, 0);
                position: absolute;
                background: rgba(43, 43, 43, 0.6);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                }
        
                .contendor{
                    top: 94px;
                    position: absolute;
                    width: 100% ;
                    height: calc(100% - 94px);
                    display: flex;
                    background-image:url("../IMAGES/fondo_fav.png");
                    background-size: cover; 
                    background-repeat: no-repeat; 
                    background-position: center;
                    justify-content: center;
                    align-items:  center;
                }   
                    .contenedor_regresar{
                        background: #e8e8e8;
                        top: 40px;
                        left: 12px;
                        position: absolute;
                        height: 32px;
                        padding-right: 12px;
                        color: #1C1C1C;
                        border-radius: 4px;
                    }
                        .contenedor_regresar a{
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                    .div_scroll_contenedor{
                        height: 100% ;
                        overflow-y: scroll;
                        padding: 40px;
                        width: fit-content;
                    }
                    .contedor_cartas{
                        border-radius: 12px;
                        padding: 30px 20px;
                        height: fit-content;
                        background: #e8e8e8;
                        width: 1204px;
                         color:  #004789;
                    }
                    .contedor_cartas h1{
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin-bottom: 24px;
                    }
                    .grupo_cartas{
                        display: grid;
                        gap: 12px;
                        grid-template-columns: repeat(4,1fr);
                    }
                     .carta{
                        border-radius: 10px;
                        overflow: hidden;
                        display: grid;
                        position: relative;
                        grid-template-rows: 321px 146px;
                        grid-template-areas:"img_carta"
                                            "txt_carta";
                    }   
                        .carta_estado{
                            border-radius: 4px;
                            background: #FFFFFF;
                            height: 32px;
                            width: 96px;
                            top: 12px;
                            right: 12px;
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color:  #004789;
                            opacity: 1;/*para ocultar el estado en cundo no sea deseado poner en 0 */
        
                        }
                        .carta_estado a{
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                        .img_carta{
                            grid-area: img_carta;
                             object-fit: cover;
                             width: 100%;
        
        
                        }
                        .txt_carta{
                            grid-area: txt_carta;
                            background-color: #FCFCFC;
                            padding: 10px 16px;
                        }
                            .txt_carta_1{
                                overflow: hidden;
                                color:  #004789;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                                .txt_carta_1 a{
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: normal;
                                }
                            .txt_carta_2{
                                display: flex;
                                justify-content: space-between;
                                color: #1C1C1C;
                            }
                                .txt_carta_2 a{
        
                                    text-align: center;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                }
                            /*  corazon*/
                                .container_corazon input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                    height: 0;
                                    width: 0;
                                  }
        
                                  .container_corazon {
                                    display: block;
                                    position: relative;
                                    cursor: pointer;
                                    user-select: none;
                                    width:30px;
                                  }
        
                                  .container_corazon svg {
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    height: 30px;
                                    width: 30px;
                                    transition: all 0.3s;
                                    fill: #f5865f;
                                  }
        
                                  .container_corazon svg:hover {
                                    transform: scale(1.1);
                                  }
        
                                  .container_corazon input:checked ~ svg {
                                    fill: #ffffff;
                                  }
                            /*corazon*/
                            .contendror_btn_carta{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            .btn_carta{
                                padding:  4px 12px;
                                background: #f15d2a;
                                color: #FFFFFF;
                                border-radius: 10px;
                                 border: 1px solid #f15d2a;
                            }
        .btn_eliminar {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #f15d2a;
          border: none;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
          cursor: pointer;
          transition-duration: .3s;
          overflow: hidden;
          position: relative;
        }
        
        .svgIcon_eliminar {
          width: 12px;
          transition-duration: .3s;
        }
        
        .svgIcon_eliminar path {
          fill: white;
        }
        
        .btn_eliminar:hover {
          width: 100px;
          border-radius: 50px;
          transition-duration: .3s;
          align-items: center;
        }
        
        .btn_eliminar:hover .svgIcon_eliminar {
          width: 40px;
          transition-duration: .3s;
          transform: translateY(50%);
        }
        
        .btn_eliminar::before {
          position: absolute;
          top: -31px;
          content: "Eliminar";
          color: white;
          transition-duration: .3s;
          font-size: .5px;
        }
        
        .btn_eliminar:hover::before {
          font-size: 13px;
          opacity: 1;
          transform: translateY(30px);
          transition-duration: .3s;
        }

