
             *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:Obviously;
            }
            @font-face{
                font-family:Obviously;
                src:url(../IMAGES/fonnts.com-Obviously.otf);
            }   
        body{

             display: flex;
             justify-content: flex-end;
             overflow-x: hidden;
             }
            ::-webkit-scrollbar {
                display: none; /* Chrome, Safari y Opera */
            }
         body:before{
                z-index:  var(--before-z-index, 0);
                content: '';
                opacity: var(--before-z-index, 0);
                position: absolute;
                background: rgba(43, 43, 43, 0.6);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                }
        
            .nav_top{
                display:flex;
                justify-content: center;
                background-color: #FFFFFF;
                width: 100%;
                height: 94px;
                z-index: 2;
                position: fixed;
            }   
                .union_header{
                     height: 180%;
                     position: absolute;
                }
                .nav_top_links{
                    margin-top: 30px;
                    margin-left: 36px;
                    margin-right:36px;
                    width: 100%;
                    display: flex; 
                    position: relative;
                    justify-content: space-between;
                    height: 43.8%;
                }
                    .nav_top_1{
                        display: flex;
                    }
                    .nav_top_1 a{
                        color: #004789;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                    }
                    .nav_top_2{
                        display:inline-flex;
                        align-items: center;
                        display: flex;
                        gap: 24px ;

                    }
                        .nav_top_2 a{
                            text-decoration: none;
                            color: #004789;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                        }

                            .buscador{
                                cursor: pointer;
                                width: 135px;
                                padding: 10px 0px 10px 40px;
                                border-radius: 9999px;
                                border: solid rgba(0, 0, 0, 0);
                                transition: all .2s ease-in-out;
                                outline: none;
                                opacity: 1;
                                font-size: 17px;
                                font-style: normal;
                                font-weight: 900;
                                line-height: normal;
                                color: #004789;
                                background-color: rgba(0, 0, 0, 0); 
                              }
                              .buscador::placeholder {
                                color: #004789; /* Cambia este color por el que desees */
                                opacity: 1; /* Para asegurar que el color no se vea transparente */
                              }
                               .container-buscador {
                                position: relative;
                              }
                              .container-buscador svg {
                                position: absolute;
                                top: 50%;
                                left: 10px;
                                transform: translate(0, -50%);
                              }

                              .buscador:focus {
                                border: solid 3px #f15d2a;
                                opacity: 1;
                                width: 450px;
                                color: #1C1C1C;
                              }


                            .btn_carrito {
                                display: inline-flex; 
                                align-items: center; 
                                justify-content: center;
                                padding: 10px 18px;
                                border: solid #f15d2a;
                                border-radius: 10px;
                                color: #f15d2a; 
                                z-index: 1;
                                gap: 8px;
                                background: #FFFFFF;
                                position: relative;
                                transition: all 200ms;
                                overflow: hidden;
                               }

                               .btn_carrito::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                width: 0;
                                border-radius: 0 ;
                                background-color: #f15d2a;
                                z-index: -1;
                                transition: all 250ms;
                               }

                               .btn_carrito:hover {
                                color: #FFFFFF;
                               }

                               .svg_carrito{
                                   width:24px; 
                                   height:24px;
                                   fill:#f15d2a;

                               }
                               .btn_carrito:hover .svg_carrito{
                                     fill:#FFFFFF;
                               }

                              .btn_carrito:hover::before {
                                width: 100%;
                               }
         .lista_carrito {
            width: 500px;
            height: 100%;
            background-color: #FFFFFF;
            position: fixed;
            z-index: 3;
            transition: all .3s ease;
            display: grid;
            grid-template-columns:1fr ;
            grid-template-rows:  96px auto 160px;
             grid-template-areas:"lista_carrito_titulo"
                                 "lista_carrito_compras"
                                 "lista_carrito_btn";
        }
            .lista_carrito.active{
                width: 0px;

            }
                .lista_carrito_titulo{
                   grid-area: lista_carrito_titulo;
                   padding-left: 40px;
                   padding-top: 50px;
                   padding-right: 40px;
                   display: flex; 
                   justify-content: space-between;
                   box-shadow: 0px 5px 5px #efefef;
                }
                .lista_carrito_titulo_a{
                    color:  #004789;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    text-decoration: none;
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    height: fit-content;

                }
                .lista_carrito_btn{
                    box-shadow: 0px -5px 5px #efefef;
                    grid-area: lista_carrito_btn;
                    display: grid;
                    padding:  20px;
                    gap:20px;
                    grid-template-columns:1fr ;
                    grid-template-rows:  1fr 1fr;
                }
                    .btn_lista_carrito_1{
                        background-color: #f15d2a;
                        border-radius: 15px;
                        border: 3px solid #f15d2a;
                        color: #FFFFFF;
                    }
                    .btn_lista_carrito_2{
                        border-radius: 15px;
                        border: 3px solid #f15d2a;
                        color: #f15d2a;
                        background: #FFFFFF;
                    }
                .lista_carrito_compras{
                    overflow-y: scroll;
                    grid-area: lista_carrito_compras;

                }
                .div_scroll{
                    width:  100%;
                    height:fit-content;
                }
                .carta_carrito{
                    height: 180px;
                    width: 100%;
                    display: grid;
                    gap: 16px;
                    padding: 20px 16px;
                     box-shadow: 0px 2px 5px #efefef;/*#F09F82*/
                    grid-template-columns:100px auto ;
                    grid-template-areas: "img_carrito_cart txt_carta_carrito";
                }
                    .img_carrito_cart{
                        grid-area: img_carrito_cart;
                        display:flex;
                        align-items: center;
                    }
                        .img_carrito_cart img{
                            width: 100px;
                        }
                    .txt_carta_carrito{
                        grid-area: txt_carta_carrito;
                    }
                        .txt_carta_carrito_titulo{
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                            .txt_carta_carrito_titulo a{
                                overflow: hidden;
                                color:  #1C1C1C;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 900;
                                line-height: normal;
                            }
                        .txt_carta_carrito_precio{
                            display: flex;
                            justify-content: space-between;
                        }
                            .txt_carta_carrito_precio a{
                                color:  #1C1C1C;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        .contenedor_btn_precio{
                            width: 140px;
                            display: flex;
                            justify-content: center;
                        }

                        .num_productos{
                            display: flex;
                            border-radius: 8px;
                            border: 2px solid  #F15D2A;
                            padding: 6px 8px;
                            width: fit-content;
                            align-items: center;
                            gap: 7px;
                        }
                            .num_productos_input{
                                border: none;
                                width: 60px;
                                height: 25px;
                                text-align: center;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 900;
                            }
                            .num_productos_input:focus {
                                    outline: none;
                            }
        .contendor{
            top: 94px;
            position: absolute;
            width: 100% ;
            height: calc(100% - 94px);
            display: flex;
            background-image:url("../IMAGES/fondo_fav.png");
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center;
            justify-content: center;
            align-items:  center;
        }   
            .contenedor_regresar{
                background: #e8e8e8;
                top: 40px;
                left: 12px;
                position: absolute;
                height: 32px;
                padding-right: 12px;
                color: #1C1C1C;
                border-radius: 4px;
            }
                .contenedor_regresar a{
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            .div_scroll_contenedor{
                height: 100% ;
                overflow-y: scroll;
                padding: 40px;
                width: fit-content;
            }
            .contedor_cartas{
                border-radius: 12px;
                padding: 30px 20px;
                height: fit-content;
                background: #e8e8e8;
                width: 1204px;
                 color:  #004789;
            }
            .contedor_cartas h1{
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 24px;
            }
            .grupo_cartas{
                display: grid;
                gap: 12px;
                grid-template-columns: repeat(4,1fr);
            }
             .carta{
                border-radius: 10px;
                overflow: hidden;
                display: grid;
                position: relative;
                grid-template-rows: 321px 146px;
                grid-template-areas:"img_carta"
                                    "txt_carta";
            }   
                .carta_estado{
                    border-radius: 4px;
                    background: #FFFFFF;
                    height: 32px;
                    width: 96px;
                    top: 12px;
                    right: 12px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:  #004789;
                    opacity: 1;/*para ocultar el estado en cundo no sea deseado poner en 0 */

                }
                .carta_estado a{
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                .img_carta{
                    grid-area: img_carta;
                     object-fit: cover;
                     width: 100%;


                }
                .txt_carta{
                    grid-area: txt_carta;
                    background-color: #FCFCFC;
                    padding: 10px 16px;
                }
                    .txt_carta_1{
                        overflow: hidden;
                        color:  #004789;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                        .txt_carta_1 a{
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                    .txt_carta_2{
                        display: flex;
                        justify-content: space-between;
                        color: #1C1C1C;
                    }
                        .txt_carta_2 a{

                            text-align: center;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    /*  corazon*/
                        .container_corazon input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                          }

                          .container_corazon {
                            display: block;
                            position: relative;
                            cursor: pointer;
                            user-select: none;
                            width:30px;
                          }

                          .container_corazon svg {
                            position: relative;
                            top: 0;
                            left: 0;
                            height: 30px;
                            width: 30px;
                            transition: all 0.3s;
                            fill: #f5865f;
                          }

                          .container_corazon svg:hover {
                            transform: scale(1.1);
                          }

                          .container_corazon input:checked ~ svg {
                            fill: #ffffff;
                          }
                    /*corazon*/
                    .contendror_btn_carta{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .btn_carta{
                        padding:  4px 12px;
                        background: #f15d2a;
                        color: #FFFFFF;
                        border-radius: 10px;
                         border: 1px solid #f15d2a;
                    }
.btn_eliminar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f15d2a;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon_eliminar {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon_eliminar path {
  fill: white;
}

.btn_eliminar:hover {
  width: 100px;
  border-radius: 50px;
  transition-duration: .3s;
  align-items: center;
}

.btn_eliminar:hover .svgIcon_eliminar {
  width: 40px;
  transition-duration: .3s;
  transform: translateY(50%);
}

.btn_eliminar::before {
  position: absolute;
  top: -31px;
  content: "Eliminar";
  color: white;
  transition-duration: .3s;
  font-size: .5px;
}

.btn_eliminar:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

