.equipos {

}

.equipo {
    border-radius: 2%;
    background-color: #C4F4FF;
    width: 300px;
    height: 420px;
    border-color: black;
    overflow: hidden;
}

.equipo .nombre_equipo {
    float: right
}

.modal-content {
    border-radius: 0;
  }

  .modal-dialog-full-height {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .modal-content-full-height {
    height: 100vh;
  }
  .modal-body-full-height {
    overflow-y: auto;
    height: calc(100vh - 120px),; /* Ajusta según el tamaño de los encabezados y pies de página del modal */
  }

.modal.right .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 100%;
    max-width: 620px;
    height: 100%;
  }

.modal.right .modal-content {
    height: 100vh;
    border: 0;
}

.carousel-control-prev {
  margin-right: 50px;
}

.carousel-control-next {
  margin-left: 50px;
}

